@import '~scss/variables';

$btn-transition-time: 0.2s;

.btn {
    display: inline-block !important;
    height: 42px;
}

button {
    display: inline-block !important;
    line-height: 37px;
    height: 40px;
    background: $black;
    color: $grey;
    
    font-size: 16px;

    border: 1px solid $light-grey;
    border-bottom-width: 4px;
    border-radius: 17px;

    padding: 0 25px;
    outline-width: 0 !important;

    transition: background $btn-transition-time, color $btn-transition-time;

    &:hover {
        transform: translateY(1px) !important;
        border-bottom-width: 3px !important;
        height: 39px !important;
    }

    &:active {
        transform: translateY(4px) !important;
        border-bottom-width: 1px !important;
        height: 37px !important;
        line-height: 35px !important;
    }

    &:disabled {
        background: $light-grey;
        cursor: not-allowed;
        color: $disabled;
        border-color: $disabled;
        &:hover {
            transform: none !important;
            border-bottom-width: 4px !important;
            height: 42px !important;
        }
    }
}
