<dashboard-topbar [hidden]="!isAuth()">
    <div class="burger-icon" (click)="_toggleSidebar()"></div>
</dashboard-topbar>
<ng-sidebar-container>

  <ng-sidebar [hidden]="!isAuth()" [(opened)]="_opened">
    <div class="link-container">
      <div class="link" (click)="navigateToUsers()">Users</div>
      <div class="link" (click)="navigateToBuckets()">Buckets</div>
      <div class="link" (click)="navigateToLinks()">Links</div>
    </div>
  </ng-sidebar>

  <!-- Page content -->
  <div class="container" ng-sidebar-content>
    <router-outlet></router-outlet>
  </div>
</ng-sidebar-container>
