<div class="topbar">
  <div class="title-container" (click)="navigateToHome()">
    <svg class="icon" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
      xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
      xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" version="1.1" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000"
      xml:space="preserve">
      <g style="fill:#77ff9b;fill-opacity:1">
        <path d="M878.4,475.7C878.4,475.7,878.4,475.7,878.4,475.7L511.5,108.8h0l0,0c-11.3-11.3-29.5-11.3-40.7,0l-60.1,60.1L282,40.3c-10.3-10.8-24.8-17.6-40.8-17.5c-31.4,0-56.8,25.5-56.8,57c0,16.3,6.9,30.9,17.8,41.3l128.1,128.1L18.4,561.1l0,0c-11.3,11.2-11.3,29.5,0,40.7l366.9,366.9c11.3,11.3,29.5,11.3,40.7,0l0,0l452.3-452.3C889.6,505.2,889.6,487,878.4,475.7z M653.1,581.2H159.6l331.6-331.6L738,496.4L653.1,581.2z"
          style="fill:#77ff9b;fill-opacity:1" />
        <path d="M969.6,771.4l-68.3-118.2c-0.4-0.7-0.7-1.3-1.1-2l-0.2-0.3l0,0c-3.5-4.8-9-7.9-15.4-7.9c-5.8,0-10.9,2.6-14.4,6.7l-0.2-0.1l-0.7,1.2c-1,1.3-1.9,2.7-2.5,4.3l-66.7,115.5c-13.1,17.6-20.9,39.2-20.9,62.8c0,58.2,47.2,105.4,105.4,105.4c58.2,0,105.4-47.2,105.4-105.4C990,810.2,982.4,788.8,969.6,771.4z"
          style="fill:#77ff9b;fill-opacity:1" />
      </g>
    </svg>
    <span class="title">BucketLink Dashboard</span>
    <svg class="line" xmlns="http://www.w3.org/2000/svg" xmlns:se="http://svg-edit.googlecode.com" xmlns:xlink="http://www.w3.org/1999/xlink"
      xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
      xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" width="149.41666963034197" height="2.416666650109846">
      <rect width="100%" height="100%" x="0" y="0" fill="#FFFFFF" fill-opacity="0" stroke="none" class="" />
      <g class="currentLayer">
        <path fill="#1a73cc" fill-opacity="1" stroke="#fff430" stroke-opacity="1" stroke-width="3" stroke-dasharray="none" stroke-linejoin="round"
          stroke-linecap="butt" stroke-dashoffset="" fill-rule="nonzero" opacity="1" marker-start="" marker-mid="" marker-end=""
          d="M0.12500126659865884,3.3124974047145344L149.08332868085986,1.3124974047145344" id="svg_1" />
      </g>
    </svg>
  </div>
  <ng-content></ng-content>
</div>