@import './variables';

*, *:after, *:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
    height: 100%;
    width: 100%;

    padding: 0;
    margin: 0;

    position: relative;
    top: 0;
    left: 0;

    background: $grey;
}

// disable user-select in:
.topbar, ng-sidebar-container, .btn, button {
  user-select: none !important;
}

// cursor elements
.link, .title-container, .search-container svg, .burger-icon, button {
  cursor: pointer !important;
}